html body {
	max-width: 100%;
	overflow-x: hidden;
}
#body-id {
	background-color: #90EE90;
}

h1 {
	text-align: center;
}

h2 {
	margin-left: 500px;
}



#main-container {
	display: flex;
	/*flex-wrap: wrap;*/
	margin-left: 500px;
	margin-top: 10px;

}
.grid {
	width: 222px;
	height: 442px;
	display: flex;
	flex-wrap: wrap;
	background-color: yellow;
	border: 1px solid black;
}

.grid div {
	width: 22px;
	height: 22px;
	/*box-shadow: 1px solid black;*/
	border: 1px solid black;


	/*border: 0px 1px 0px 1px;
	border-style: solid;
	border-color: black;*/
	/*background-color: red;*/
}

.mini-grid {
	display: flex;
	flex-wrap: wrap;
	width:90px;
	height: 90px;
	background-color: yellow;
	margin-left: 30px;
	border: 1px solid black;
}

.mini-grid div {
	width: 22px;
	height: 22px;
	border: 1px solid black;
}

.tetromino {
	background-color: blue;
	/*outline-style: solid;*/
}

.btn-div {
	width: 400px;
	height: 50px;
	margin-left: 500px;
	margin-bottom: 20px;
}

#start-button {
	margin: 15px;
}

#pause-button {
	margin: 15px;
}

#reset-button {
	margin: 15px;
}

.invisible {
	display: none;
}